{% extends 'user/base.html' %}

{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <p class="card-text">
        <form action="" method="POST">
            {% csrf_token %}
            Email: <input type="email" name="email">
            Password: <input type="password" name="password">
            <button type="submit">Login</button>    
        </form>
      </p>
    </div>
  </div>
{% endblock %}